[Unit]
Description=Gunicorn instance to serve ProTodo
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/ProTodo-App/backend
Environment="PATH=/home/ubuntu/ProTodo-App/backend/todo/bin"
EnvironmentFile=/home/ubuntu/ProTodo-App/backend/.env
ExecStart=/home/ubuntu/ProTodo-App/backend/todo/bin/gunicorn --workers 3 --bind 127.0.0.1:5000 wsgi:app

[Install]
WantedBy=multi-user.target