name: Deploy to AWS EC2

on:
  push:
    branches:
      - main  # Only deploy when code hits the Production branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to EC2 via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}        # Your AWS IP
        username: ${{ secrets.EC2_USER }}    # ubuntu
        key: ${{ secrets.EC2_KEY }}          # Your private key content
        script: |
          # 1. Go to the project folder
          cd ~/ProTodo-App
          
          # 2. Pull the latest code
          git pull origin main
          
          # 3. Update dependencies (just in case)
          cd backend
          source todo/bin/activate
          pip install -r requirements.txt
          
          # 4. Restart the service to apply changes
          sudo systemctl restart protodo
          
          # 5. Reload Nginx (optional, mostly for static file updates)
          sudo systemctl reload nginx